.dato {
    color: #f0c15b;
    font-size: 35px;
    margin-bottom: 23px;
    font-family:cursive;
  }
  .bt1 {
    padding: 25px;
  }

  *{
    background-color: black;
  }

  .contador{
    color:#f0c15b ;
  }
  